name: CI-CD

on:
  push:
    branches: master

jobs:
  # build-test:
  #   name: Building & Testing Application
  #   runs-on: ubuntu-18.04
  #   container:
  #     image: kirschbaumdevelopment/laravel-test-runner:7.2

  #   services:
  #     mysql:
  #       image: mysql:5.7
  #       env:
  #         MYSQL_ROOT_PASSWORD: password
  #         MYSQL_DATABASE: test
  #       ports:
  #         - 33306:3306
  #       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

  #   steps:
  #   - uses: actions/checkout@v1
  #     with:
  #       fetch-depth: 1

  #   - name: Install composer dependencies
  #     run: |
  #       composer install --no-scripts

  #   - name: Prepare Laravel Application
  #     run: |
  #       cp .env.ci .env
  #       php artisan key:generate
  #       php artisan migrate:fresh
  #       php artisan voyager:install --with-dummy

  #   - name: Run Test
  #     run: vendor/bin/phpunit
  # deploy:
  #   name: Deploy to Production
  #   runs-on: ubuntu-18.04
    # services:
    #   mysql:
    #     image: mysql:5.7
    #     env:
    #       MYSQL_ROOT_PASSWORD: password
    #       MYSQL_DATABASE: test
    #     ports:
    #       - 33306:3306
    #     options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    # needs: [build-test]
    # if: github.ref == 'refs/heads/master'
    # steps:
    # - uses: actions/checkout@v1
    # - name: Setup PHP
    #   uses: shivammathur/setup-php@master
    #   with:
    #     php-version: 7.3 #7.3 sa package nga gamit
    #     extension-csv: mbstring, bcmath
    # - name: Composer install
    #   run: composer install --no-scripts
    # # - name: Prepare env file
    # #   run: |
    # #     cp .env.ci .env
    # #     php artisan key:generate
    # - name: Setup Deployer
    #   uses: atymic/deployer-php-action@master
    #   with:
    #     ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    #     ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
    # - name: Deploy to Prod
    #   env:
    #     DOT_ENV: ${{ secrets.DOT_ENV }}
    #   run: dep deploy production --tag=${{ env.GITHUB_REF }} -vvv

      
  deploy:
    name: Deploy code to prod
    runs-on: ubuntu-18.04
    # needs: [build-js, test-php]
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Deploy
        uses: musps/action-deployer-php@master
        with:
          args: deploy prod
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}