name: CI-CD

on:
  push:
    branches: master

jobs:
  build-test:
    name: Building & Testing Application
    runs-on: ubuntu-18.04
    container:
      image: kirschbaumdevelopment/laravel-test-runner:7.2

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Install composer dependencies
      run: |
        composer install --no-scripts

    - name: Prepare Laravel Application
      run: |
        cp .env.ci .env
        php artisan key:generate
        php artisan migrate:fresh
        php artisan voyager:install --with-dummy

    - name: Run Test
      run: vendor/bin/phpunit
  deploy:
    name: Deploy code to prod
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Deploy
        uses: musps/action-deployer-php@master
        with:
          args: deploy prod
        env:
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}